* {
    -main_background: #142033;
    -background: #1A55A4;
    -accent_one: #A7CAFF;
    -unselected: #383838;
}

.root {
    -fx-background-color: -main_background;
}

.pane {
    -fx-background-color: -main_background;
}

.label {
    -fx-text-fill: WHITE;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: -background;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: -accent_one;;
    -jfx-stroke-width: 3pt;
}

.jfx-text-field, .jfx-password-field {
    -fx-prompt-text-fill: WHITE;
    -fx-text-fill: WHITE;
    -jfx-focus-color:  -accent_one;
    -jfx-unfocus-color: -unselected;
}

.jfx-radio-button {
    -jfx-selected-color: -background;
    -fx-text-fill: WHITE;
}

.jfx-button {
    -fx-text-fill: WHITE;
}

.jfx-button .jfx-rippler{
      -jfx-rippler-fill: -background;
}

.combo-box .cell {
     -fx-text-fill: white;
     -fx-background-color: -main_background;
}

.jfx-combo-box {
     -fx-prompt-text-fill: white;
	-fx-background-color: TRANSPARENT;
	-fx-text-fill: WHITE;
}

.jfx-combo-box .label {
    -fx-text-fill: WHITE;
}

.jfx-slider > .colored-track {
     -fx-background-color: -background;
}

.jfx-slider > .animated-thumb {
     -fx-background-color: -background;
}

.jfx-slider > .thumb {
     -fx-background-color: -background;
}

.jfx-slider > .track {
}